<h2>Dashboard – Kanban</h2>

<div style="display:flex; gap:20px">

  <!-- TODO -->
  <div cdkDropList
       [cdkDropListData]="todo"
       (cdkDropListDropped)="drop($event, status.TODO)"
       style="width:30%; background:#f5f5f5; padding:10px">

    <h3>TODO</h3>
    <div *ngFor="let task of todo" cdkDrag>
      {{ task.title }}
    </div>
  </div>

  <!-- IN PROGRESS -->
  <div cdkDropList
       [cdkDropListData]="inProgress"
       (cdkDropListDropped)="drop($event, status.IN_PROGRESS)"
       style="width:30%; background:#fff3cd; padding:10px">

    <h3>IN PROGRESS</h3>
    <div *ngFor="let task of inProgress" cdkDrag>
      {{ task.title }}
    </div>
  </div>

  <!-- DONE -->
  <div cdkDropList
       [cdkDropListData]="done"
       (cdkDropListDropped)="drop($event, status.DONE)"
       style="width:30%; background:#d4edda; padding:10px">

    <h3>DONE</h3>
    <div *ngFor="let task of done" cdkDrag>
      {{ task.title }}
    </div>
  </div>

</div>
